@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

:root{
    --primary-color: dodgerblue;
}

html{
    box-sizing: border-box;
}
body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content: center;
    font-family: 'Comic Neue';
    overflow: hidden;
    background-color: #f1c086;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%2378ed97' fill-opacity='0.59' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}
.game-container{
    position:relative;
    margin-top:50px;
    height:600px;
    width:500px;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -5px rgba(24, 24, 24, 0.9);
    background-color: rgba(236, 209, 177, 0.4);
}
.header{
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    color:white;
    letter-spacing: 2px;
    text-shadow: 1px 2px 2px black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card{
    margin:5px auto 10px;
    height:500px;
}
/*------ Splash Page -------*/
input[type="radio"]{
    opacity:0;
    width:100%;
    height:75px;
    position: relative;
    top:-40px;
    z-index: 2;
    cursor: pointer;
}
.selection-container{
    position: relative;
    top:5px;
}
.radio-container{
    width:90%;
    height:70px;
    margin:25px;
    cursor:pointer;
    border:2px solid black;
    border-radius: 5px;
}
label{
    position: relative;
    top:20px;
    left:20px;
    font-size:30px;
}
.selected-label{
    color:white;
    background-color: var(--primary-color);
}
.best-scores{
    position:relative;
    top:-100px;
    left:150px;
    font-size: 18px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width:fit content;
}
.best-scores span{
    margin:0;
}
.best-scores span:last-child{
    font-size: 24px;
}
.selection-footer{
    position:relative;
    top:50px;
}
.selection-footer button{
    position:relative;
    bottom:20px;
    height:70px;
    width:100%;
    border: 12px solid black;
    background-color: dodgerblue;
    font-size: 22px;
    color:white;
    font-family: 'Comic Neue';
    letter-spacing: 2px;
    font-weight: 800;
}
/*------ Countdown Page ------*/
.countdown{
    margin-top:35%;
    font-size: 100px;
    text-align:center;
}

/*------- Game Page ---------*/
.height-240{
    height:160px;
    width:100%;
}
.height-200{
    height:220px;
    width:100%;
}
.item-container{
    height:450px;
    overflow-y: scroll;
    position:relative;
    -ms-overflow-style: none;
}
.item-container::-webkit-scrollbar{
    display: none;
}
.item{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    height:65px;
    margin:0 50px;
    user-select: none;
}
.finished > h1{
  opacity:0.5;
}
.selected-item{
    background-color: dodgerblue;
    position: fixed;
    top:305px;
    z-index: -1;
    width:500px;
    height:60px;
}
.item-footer{
    width: 100%;
    height: 90px;
    background: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom:25px;
}
  
  button {
    cursor: pointer;
    height: 50px;
    border-radius: 5px;
    font-size: 25px;
    font-family: 'Comic Neue', sans-serif;
    color: white;
    border: none;
    outline: none;
  }
  button:hover {
    filter: brightness(110%);
  }
  
  button:active {
    transform: scale(0.99);
  }
  
  .wrong,
  .right {
    width: 40%;
  }
  
  .wrong {
    background-color: red;
    margin-right: 25px;
  }
  
  .right {
    background-color: green;
  }
  
  .start,
  .play-again {
    width: 90%;
    background-color: var(--primary-color);
  }
  /*------ Score Page ---------*/
  .score-container{
      height:400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .title {
    font-size: 40px;
  }
  
  .final-time {
    font-size: 60px;
    margin:0;
    color: green;
  }
  
  .base-time {
    margin-top: 100px;
    margin-bottom: 0;
  }
  
  .penalty-time {
    color: red;
  }
  .score-footer{
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: center;
        position: relative;
        top: 25px;
  }
  .play-again{
      position:relative;
      top:19px;
  }

    @media screen and (max-width: 500px) {
    .game-container {
      width:100%;
      margin-top: 0px;
      border: none;
      overflow: hidden;
    }
    .card{
      margin-top: -80px;
    }
  
    .selected-item {
      top: 250px;
    }
    .item-container{
      margin-top:80px;
      height:430px;
    }
  
    .header {
      font-size: 1rem;
      width:100%;
    }
  
    .countdown {
      margin-top: 60%;
    }
  
    .selection-container {
      top: 100px;
    }
  
    .radio-container {
      width: 90%;
      margin: 15px;
    }
  
    label {
      font-size: 1.7rem;
    }
  
    .best-scores {
      font-size: 1rem;
      position:relative;
      left: 100px;
    }
  
    .selection-footer {
      top: 165px;
    }
    .item-footer{
      top:3px;
    }
    .title{
      margin-top:50px;
    }
    .score-container{
      margin-top:60px;
    }
    .final-time{
      font-size: 40px;
    }
  }
  
  /* Media Query: iPhone */
  @media screen and (max-width: 376px) {
    .best-score {
      left: 232px;
    }
  }